<p><%= @employee.name %></p>
<p><%= @employee.alias %></p>
<p><%= @employee.title %></p>
<p><%= @employee.office %></p>
<p><%= @employee.dog.name %></p>
<p><img src=<%="#{@employee.img_url}"%>></p>
<p><%=link_to "Index", employees_path%></p>



